body {
    color: #30233D;        
    font-family: 'M PLUS 1p', sans-serif;
}

header {
    position: absolute;
    width: 1441px;
    height: 828px;
    left: -1px;
    top: 0px;
    background-image: url(/img/Rectangle.png);
    background: linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
    mix-blend-mode: multiply;
    color: #fcfcfc;
}

.logo {
    position: absolute;
    width: 166px;
    height: 47px;
    left: 147px;
    top: 61px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
}

.header__img {
    position: absolute;
    width: 1440px;
    height: 828px;
    left: 0px;
    top: 0px;
}

nav {
    display: inline-block;
    position: absolute;
    width: 879px;
    height: 35px;
    left: 441px;
    top: 68px;  
}

.hero__h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 99px;
    line-height: 118px;
    color: #FCFCFC;
}

.highlight {
   color: #F61067;
}

.hero__h3 {
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 4px;
}

.side {
    position: absolute;
    width: 29px;
    height: 343px;
    left: 1288px;
    top: 240px;
}

.headline {
    position: absolute;
    width: 852px;
    height: 272px;
    left: 147px;
    top: 252px;
}

.subheader {
    position: absolute;
    width: 833px;
    height: 108px;
    left: -1px;
    top: 594px;
}

/* later */

.intro__img {
    position: absolute;
    width: 460px;
    height: 738px;
    left: 735px;
    top: 972px;
}

.intro {
    position: absolute;
    width: 1293px;
    height: 774px;
    left: 147px;
    top: 936px;
}

.benefits__img {
    position: absolute;
    width: 460px;
    height: 612px;
    left: 735px;
    top: 1836px; 
}

.benefits {
    position: absolute;
    width: 1293px;
    height: 1008px;
    left: 0px;
    top: 1638px;
}

.services {
    position: absolute;
    width: 1440px;
    height: 1548px;
    left: 0px;
    top: 2448px;
}

.testimonials {
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 3870px;
}

.newsletter {
    position: absolute;
    width: 613px;
    height: 219px;
    left: 413px;
    top: 4896px;
}

footer {
    position: absolute;
    width: 1440px;
    height: 558px;
    left: 0px;
    top: 5256px;
}